@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');

#main-page {
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

#main-page header,
#greece-page header,
#estonia-page header {
  margin-top: 0;
  text-align: center;
  background-color: #fff1f4;
  border: 1px none;
  grid-column: 1 / -1;
}

nav {
    background-color: #fff1f4;
    padding: 15px;
    border: 1px none;
  }

footer {
  background-color: #fff1f4;
  padding: 15px;
  border: 1px none;
  margin: 0px;
}

#main-page section,
#greece-page section,
#estonia-page section {
  background-color: #fff1f4;
  padding: 20px;
  border: 1px none;
}

img {
  border: 0.5px solid #222;
}

nav ul {
    margin-right: 5px;
}


#welcome {
  grid-area: welcome;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

#key-points {
  grid-area: key-points;
  border: 1px solid none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;

}

#greece-page {
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

#greece {
  color: #000;
  
  display: grid;
  max-width: 960px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

#favorite-cities {
  border: 1px solid none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-row-start: 1;

}

#estonia-page {
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

#estonia {
  color: #000;
  
  display: grid;
  max-width: 960px;
  grid-template-columns: auto;
  grid-template-rows: auto;

}


nav li a:default {
  color: rgb(67, 67, 230);
}

figcaption a:default {
  color:  rgb(67, 67, 230);
}

footer a:default {
  color: rgb(67, 67, 230);

}

nav li a:active {
  color: rgb(3, 0, 2);
}

figcaption a:active {
  color:  rgb(3, 0, 2);
}

footer a:active {
  color: rgb(3, 0, 2);

}

nav li a:hover {
  color: rgb(116, 34, 187);
}

figcaption a:hover {
  color:  rgb(116, 34, 187);
}

footer a:hover {
  color: rgb(116, 34, 187);
}

nav li a:active {
  color: #0b3d07;
}

figcaption a:active {
  color: #0b3d07;
}

footer a:active {
  color: #0b3d07;
}



#main-page h1 {
  color: #380e1e;
  }

#greece h2,
#favorite-cities h2,
#welcome h2,
#estonia h2 {
  color: #380e1e;
  }


#key-points h3 {
  color: #7f2104;
}

#favorite-cities h3,
h4 {
color: #7f2104;
}

#greece-page h1 {
  color: #380e1e;
  }

#greece-page h3 {
  color: #7f2104;
  }

#estonia-page h1 {
color: #380e1e;
}

