@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');

#main-page {
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

header {
  margin-top: 0;
  text-align: center;
  background-color: #fff1f4;
  border: 1px none;
  grid-column: 1 / -1;
}


nav {
    background-color: #fff1f4;
    padding: 15px;
    border: 1px none;
  }

section {
  background-color: #fff1f4;
  padding: 20px;
  border: 1px none;
}

nav ul {
    margin-right: 5px;
}

h2 {
    text-align: left;
}

#welcome {
  grid-area: welcome;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

#key-points {
  grid-area: key-points;
  border: 1px solid none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;

}

#greece-page {
  color: #000;
  font-weight: 400px;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

#greece {
  color: #000;
  
  display: grid;
  grid-template-areas:
  "favorite-cities  overview"
  "favorite-cities  overview";
  grid-gap: 20px;
  
}

#favorite-cities {
  grid-area: favorite-cities;
  border: 1px solid none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-row-start: 1;


}

#estonia-page {
  color: #000;
  font-weight: 400px;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

#estonia {
  color: #000;
  
  display: grid;
  grid-template-areas:
  "favorite-cities  overview"
  "favorite-cities  overview";
  grid-gap: 20px;
  
}

nav li a:default {
  color: rgb(67, 67, 230);
}

figcaption a:hover {
  color:  rgb(67, 67, 230);
}

footer a:hover {
  color: rgb(67, 67, 230);

}


nav li a:active {
  color: rgb(3, 0, 2);
}

figcaption a:active {
  color:  rgb(3, 0, 2);
}

footer a:active {
  color: rgb(3, 0, 2);

}

nav li a:hover {
  color: rgb(116, 34, 187);
}

figcaption a:hover {
  color:  rgb(116, 34, 187);
}

footer a:hover {
  color: rgb(116, 34, 187);
}

nav li a:active {
  color: #0b3d07;
}

figcaption a:active {
  color: #0b3d07;
}

footer a:active {
  color: #0b3d07;
}

h1,
h2 {
color: #380e1e;
}

h3,
h4 {
color: #7f2104;
}