@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@900&display=swap');

body {
  color: #000;
  font-family:"Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  
  max-width: 960px;
  margin: 20px auto;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #fff;
  line-height: 1.5;
  
}

header {
  margin-top: 0;
  text-align: center;
  background-color: #e5e9dd;
  border: 1px solid #222;
  grid-column: 1 / -1;
}


nav {
    background-color: #e5e9dd;
    padding: 20px;
    border: 1px solid #222;
  }

footer {
  background-color: #e5e9dd;
  padding: 20px;
  border: 1px solid #222;
  grid-column: 1 / -1;
}

footer p {
  margin: 0px;
}

section {
  background-color: #e5e9dd;
  padding: 20px;
}

figure {
    margin: 0;
  }

img {
  border: 0.5px solid #222;
}

nav ul {
    margin-right: 25px;
}

main {
  display: grid;
  max-width: 960px;
  grid-template-columns: repeat (2, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "intro       intro"
    "government  geography"
    "people      people";
}

#intro {
  grid-area: intro;
  border: 1px solid #222;
  padding-top: 10px;
  padding-bottom: 10px;
}

#geography {
  grid-area: geography;
  border: 1px solid #222;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#people-and-society {
  grid-area: people;
  border: 1px solid #222;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#government {
  grid-area: government;
  border: 1px solid #222;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li a:hover {
    color: rgb(182, 69, 127);
}

figcaption a:hover {
    color: rgb(182, 69, 127);
}

footer a:hover {
    color: rgb(182, 69, 127);
}

#government p a:hover {
    color: rgb(182, 69, 127);
}

#geography p a:hover {
    color: rgb(182, 69, 127);
}

nav li a:active {
    color: #8B0000;
}

figcaption a:active {
    color: #8B0000;
}

footer a:active {
    color: #8B0000;
}

#government p a:active {
    color: #8B0000;
}

#geography p a:active {
    color: #8B0000;
}

h1,
h2 {
  color: #580000;
}

h3,
h4 {
  color: #8b4513;
}